{
    "extends": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "jsx-quotes": [1, "prefer-double"]
    },
    "plugins": ["prettier"]
}
