.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    transition: all 0.35s ease;
    border: 0;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
    color: #565656;
    font-family: $f-medium;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-height: 44px;
}

.button--accent {
    background-color: #8f446a;
    color: #fff;
}

.button--accent :focus,
.button--accent:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--accent:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--default {
    background-color: #8f446a;
    color: #fff;
}

.button--default :focus,
.button--default:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--default:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--yellow {
    background-color: #8f446a;
}

.button--yellow :focus,
.button--yellow:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--yellow:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--success {
    background-color: #8f446a;
    color: #fff;
}

.button--success :focus,
.button--success:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--success:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--error {
    background-color: #8f446a;
    color: #fff;
}

.button--error :focus,
.button--error:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--error:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--info {
    background-color: #8f446a;
    color: #fff;
}

.button--info :focus,
.button--info:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--info:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--muted {
    background-color: #8f446a;
    color: #fff;
}

.button--muted :focus,
.button--muted:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--muted:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button--gray {
    background-color: #8f446a;
    color: #fff;
}

.button--gray :focus,
.button--gray:hover {
    background-color: #ab517e;
    color: #fff;
}

.button--gray:active {
    background-color: #9d4b74;
    box-shadow: none;
    color: #fff;
}

.button__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.button--transparent {
    background-color: transparent;
    box-shadow: none;
}

.button--transparent.button--accent {
    border: 1px solid #8f446a;
    background-color: transparent;
    color: #6c3450;
}

.button--transparent.button--accent:active,
.button--transparent.button--accent:focus,
.button--transparent.button--accent:hover {
    background-color: #8f446a;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--default {
    border: 1px solid #95d6c9;
    background-color: transparent;
    color: #70c8b6;
}

.button--transparent.button--default:active,
.button--transparent.button--default:focus,
.button--transparent.button--default:hover {
    background-color: #95d6c9;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--yellow {
    border: 1px solid #ffe51c;
    background-color: transparent;
    color: #e8cd00;
}

.button--transparent.button--yellow:active,
.button--transparent.button--yellow:focus,
.button--transparent.button--yellow:hover {
    background-color: #ffe51c;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--success {
    border: 1px solid #8cc152;
    background-color: transparent;
    color: #72a53b;
}

.button--transparent.button--success:active,
.button--transparent.button--success:focus,
.button--transparent.button--success:hover {
    background-color: #8cc152;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--error {
    border: 1px solid #ff0600;
    background-color: transparent;
    color: #cc0500;
}

.button--transparent.button--error:active,
.button--transparent.button--error:focus,
.button--transparent.button--error:hover {
    background-color: #ff0600;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--info {
    border: 1px solid #2386dc;
    background-color: transparent;
    color: #1c6bb0;
}

.button--transparent.button--info:active,
.button--transparent.button--info:focus,
.button--transparent.button--info:hover {
    background-color: #2386dc;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--muted {
    border: 1px solid #565656;
    background-color: transparent;
    color: #3d3d3d;
}

.button--transparent.button--muted:active,
.button--transparent.button--muted:focus,
.button--transparent.button--muted:hover {
    background-color: #565656;
    color: #fff;
    font-size: 14px;
}

.button--transparent.button--gray {
    border: 1px solid #aeaeae;
    background-color: transparent;
    color: #959595;
}

.button--transparent.button--gray:active,
.button--transparent.button--gray:focus,
.button--transparent.button--gray:hover {
    background-color: #aeaeae;
    color: #fff;
    font-size: 14px;
}

.button--muted:hover,
.button--yellow,
.button--yellow:active,
.button--yellow:focus,
.button--yellow:hover {
    color: #fff;
}

.button--link {
    display: inline-block;
    min-width: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: #8f446a;
    font-family: $f;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: none;
}

.button--link:hover {
    text-decoration: underline;
}

.button--back {
    display: inline-flex;
    align-items: center;
}

.button--back .icon {
    width: 10px;
    height: 12px;
    margin-right: 3px;
    transform: rotate(180deg);
    fill: #8f446a;
}

.button.is-disabled {
    cursor: not-allowed;
}

.button.is-disabled,
.button.is-disabled:hover {
    transform: none;
    border-color: transparent;
    background-color: #f6f6f6;
    box-shadow: none;
    color: #565656;
}

.btn-animate {
    min-width: 180px;
    height: 42px;
    padding: 0;
    overflow: hidden;
    line-height: 43px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .btn-animate {
        padding: 0;
    }
}

.btn-animate:not(.is-ready).is-error .btn__title,
.btn-animate:not(.is-ready).is-success .btn__title {
    transform: translateY(-150%);
}

.btn-animate:not(.is-ready).is-error {
    background-color: #ff0600;
}

.btn-animate.is-animate .btn__title {
    display: none;
}

.btn-animate.is-invalid {
    overflow: hidden;
}

.button-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .button-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.button-box__text {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.button-box--column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-box--column .button-animate {
    margin-bottom: 5px;
}

.button-box--center {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .button-box .button-animate {
        width: 80%;
    }
}

.button-box .button-animate + .button-animate {
    margin-left: 30px;
}

@media (max-width: 480px) {
    .button-box .button-animate + .button-animate {
        margin-top: 15px;
        margin-left: 0;
    }
}

.button-box p {
    margin-bottom: 0;
}
