.catalog {

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        @include xs-block {
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0 20px;

        h1 {
            @include xs-block {
                margin: 0 auto;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }

    &__back {
        position: relative;
        top: 2px;
        display: none;
        padding: 0 10px;

        @include sm-block {
            position: absolute;
            top: 50%;
            left: -10px;
            display: block;
            transform: translateY(-50%);
        }

        @include xs-block {
            top: 12px;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: #565656;
        }
    }

    &__top-line {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 6px;
        border-bottom: 1px dashed #aeaeae;
    }

    &__count {
        font-size: 13px;

        @include xs-block {
            display: none;
        }
    }

    &__sorting {
        display: flex;
        align-items: center;
        width: auto;
    }

    &__content {
        position: relative;
        width: calc(100% - 280px);
        margin-top: 23px;
        margin-left: auto;

        @include xs-block {
            width: 100%;
            margin-top: 0;
        }
    }

    &-filter {
        width: 250px;
        margin-right: 30px;

        &__in {
            margin-top: 30px;
            margin-bottom: 40px;
        }

        &__header {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 3.5px 10px;
            border-bottom: 1px solid #e1e1e1;
        }

        &__title {
            font-family: $f-bold;
            font-size: 18px;
        }

        &__subtitle {
            padding: 10px;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        &__item {
            margin-bottom: 20px;
            border: 1px solid #aeaeae;
            background-color: #fff;

            &_scroll {
                max-height: 275px;
                overflow-y: scroll;
            }
        }
    }
} // .catalog

.sorting {
    margin-left: auto;

    &__title {
        flex: 1;
        margin-top: -2px;
        margin-right: 10px;
        font-size: 13px;
        white-space: nowrap;

        @include xs-block {
            display: none;
        }
    }

    select {
        padding: 10px 15px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
    }
} // .sorting
