.footer {
    padding: 35px 0;
    background-color: $color-bg--light;

    @include nosel;

    @include xs-block {
        padding: 5px 0;
    }

    &__in {
        @include row-flex;

        @include xs-block {
            margin-right: 0;
            margin-left: 0;
        }
    } //.footer__in

    &__social {
        margin-top: 20px;

        @include xs-block {
            padding: 0 10px;
        }

        &.social .social__item {
        }
    } //.footer__social

    .container {
        @include xs-block {
            padding: 0;
        }
    }
} //.footer

.footer-item {
    box-sizing: border-box;
    width: calc(25% - 20px);
    margin-right: 10px;
    margin-left: 10px;
    word-wrap: break-word;

    @include respond-to(sm) {
        margin-bottom: $gutter;
    }

    @include xs-block {
        width: 100%;
        margin: 0;
        padding: 20px;

        & + & {
            margin-top: 0;
            border-top: 1px solid #d9d9d9;
        }
    }

    &:not(:first-child) {

        .footer-item__link {
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    &__title {
        font-family: $f-bold;
        font-weight: normal;
        text-transform: uppercase;

        @include xs-block {
            padding-left: 10px;

            &::before {
                right: 10px;
            }
        }
    } //.footer-item__title

    &__content {
        @include xs-block {
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        @include xs-block {
            padding-left: 10px;
        }
    } //.footer-item__list

    &__el {
        display: flex;
        align-items: center;
        color: $color-text;
        font-size: 14px;
        letter-spacing: 0.5px;

        & .phone__desc {
            display: block;
            color: #aeaeae;
            font-size: 9px;
            line-height: 1.4;
            text-transform: uppercase;
        }

        & + & {
            margin-top: 10px;
        }
    } //.footer-item__el

    &__link {
        color: $color-text;
        font-family: $f;
        font-size: 14px;
        letter-spacing: 0.5px;

        &:hover {
            color: $color-accent;
        }
    } //.footer-item__link

    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;

        svg {
            width: 18px;
            height: 18px;
        }
    } //.footer-item__icon
} //.footer-item
