.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;

    &__in {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__bottom {
        position: relative;
        z-index: 10;
        height: 80px;
        transition: all 0.35s ease;
        background-color: #f6f6f6;

        @include xs-block {
            height: 50px;
        }

        .is-fixed & {
            height: 50px;
        }
    }

    &__city {
        margin-right: 60px;
    }

    &__phone {
        margin-left: auto;
        color: #fff;
        font-family: $f-light;
        font-size: 14px;
        line-height: 30px;
    }

    &__nav {
        display: none;

        @include xs-block {
            display: block;
        }
    }

    &__logo {
        width: 190px;
        height: 36px;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-top {
        background-color: #565656;
        color: #fff;

        @include md-block {
            display: none;
        }

        .is-fixed & {
            display: none;
        }
    }
}

// .header

.logo {
    display: inline-block;
    width: 190px;

    @include xs-block {
        width: 150px;
        margin-left: 35px;
    }
}
