.user-nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &:hover {
            & .user-nav__icon svg {
                fill: $color-accent;
                color: $color-accent;
            }

            & .user-nav__text {
                color: $color-accent;
            }
        }

        &--search {
            display: none;

            @include md-block() {
                display: flex;
            }
        }

        &--login {
            @include md-block() {
                display: none;
            }
        }

        & svg {
        }

        & + .user-nav__item {
            margin-left: 30px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;

        &-count {
            position: absolute;
            top: -6px;
            left: 50%;
            display: none;
            min-width: 16px;
            height: 16px;
            margin-left: 2px;
            padding: 0 4px;
            border-radius: 8px;
            background: $color-accent;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            text-align: center;

            &.is-active {
                display: block;
            }
        }

        svg {
            width: inherit;
            height: inherit;
            transition: $trs;
            transition: all 0.35s ease;
            fill: #565656;
            color: #565656;
        }
    }

    &__text {
        transition: all 0.35s ease;
        color: #565656;
        font-size: 12px;

        @include md-block() {
            display: none;
        }
    }
}
